In [107]:
import pandas as pd

In [108]:
df1 = pd.read_excel('../data/vendas-combustiveis-2.xls', sheet_name='DPCache_m3')        
# df2 = pd.read_excel('../data/vendas-combustiveis-2.xls', sheet_name='DPCache_m3_2')        
# df3 = pd.read_excel('../data/vendas-combustiveis-2.xls', sheet_name='DPCache_m3_3')

In [176]:
df1.isna().sum()

COMBUSTÍVEL     0
ANO             0
REGIÃO          0
ESTADO          0
Jan            50
Fev            50
Mar            50
Abr            49
Mai            50
Jun            50
Jul            50
Ago            50
Set            50
Out            50
Nov            50
Dez            49
TOTAL          50
dtype: int64

In [181]:
df1

,COMBUSTÍVEL,ANO,REGIÃO,ESTADO,Jan,Fev,Mar,Abr,Mai,Jun,Jul,Ago,Set,Out,Nov,Dez,TOTAL
0,GASOLINA C (m3),2000,REGIÃO NORTE,RONDÔNIA,136073.253000,9563.263000,11341.229000,9369.746000,10719.983000,11165.968000,12312.451000,11220.970000,12482.281000,13591.122000,11940.570000,11547.576000,10818.094000
1,GASOLINA C (m3),2000,REGIÃO NORTE,ACRE,3358.346000,40001.853000,3065.758000,3495.290000,2946.930000,3023.920000,3206.930000,3612.580000,3264.460000,3835.740000,3676.571000,3225.610000,3289.718000
2,GASOLINA C (m3),2000,REGIÃO NORTE,AMAZONAS,20766.918000,21180.919000,242742.352000,17615.604000,20258.200000,18741.344000,19604.023000,20221.674000,20792.616000,19912.898000,21869.338000,21145.643000,20633.175000
3,GASOLINA C (m3),2000,REGIÃO NORTE,RORAIMA,3716.032000,3200.400000,3339.332000,43338.929000,3259.300000,3636.216000,3631.569000,3348.416000,3394.016000,4078.616000,3346.616000,4029.900000,4358.516000
4,GASOLINA C (m3),2000,REGIÃO NORTE,PARÁ,29755.907000,28661.951000,28145.784000,29294.796000,359575.398000,28830.479000,32297.047000,27310.979000,29396.384000,26511.009000,36553.250000,31807.840000,31009.972000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4531,GLP (m3),2020,REGIÃO SUL,RIO GRANDE DO SUL,73247.920290,81469.222826,75607.009058,72818.829710,NaN,NaN,NaN,618788.938406,58679.211957,57649.414855,68522.800725,64045.161232,66749.367754
4532,GLP (m3),2020,REGIÃO CENTRO-OESTE,MATO GROSSO DO SUL,15190.643116,15877.811594,16876.476449,16036.112319,14687.788043,NaN,NaN,NaN,137899.302536,13774.106884,14137.695652,16281.139493,15037.528986
4533,GLP (m3),2020,REGIÃO CENTRO-OESTE,MATO GROSSO,19118.619565,18773.081522,19899.867754,20678.385870,18972.943841,18051.436594,NaN,NaN,NaN,173256.967391,18763.161232,18321.987319,20677.483696
4534,GLP (m3),2020,REGIÃO CENTRO-OESTE,GOIÁS,53302.086957,48894.621377,47184.788043,49687.793478,52665.449275,50069.005435,48032.530797,NaN,NaN,NaN,443268.739130,46850.585145,46581.878623
4535,GLP (m3),2020,REGIÃO CENTRO-OESTE,DISTRITO FEDERAL,13883.065217,16011.333333,15887.492754,13463.275362,15325.704710,15689.914855,15358.490942,13937.451087,NaN,NaN,NaN,133282.702899,13725.974638

In [187]:
df_a = df1.drop(columns='REGIÃO').groupby(['COMBUSTÍVEL','ESTADO','ANO']).sum()

In [197]:
df_a["Total"] = df[]

                                                Jan            Fev  \
COMBUSTÍVEL           ESTADO    ANO
ETANOL HIDRATADO (m3) ACRE      2000     676.230000     677.570000
                                2001     386.539000     428.339000
                                2002     310.475000     305.591000
                                2003    3652.662000     250.298000
                                2004     358.679000    3753.053000
...                                             ...            ...
ÓLEO DIESEL (m3)      TOCANTINS 2016   69651.800000   68760.410000
                                2017   83914.039555   84078.234645
                                2018   82047.871000   90415.520000
                                2019   94934.930000   90081.160000
                                2020  107297.750000  103669.820000

                                                Mar            Abr  \
COMBUSTÍVEL           ESTADO    ANO
ETANOL HIDRATADO (m3) ACRE      2000    1466.730000     350.570000
                                2001     401.156000     426.557000
                                2002     394.513000     446.579000
                                2003     316.076000     350.266000
                                2004     296.791000     296.274000
...                                             ...            ...
ÓLEO DIESEL (m3)      TOCANTINS 2016  838858.430000   56828.500000
                                2017   74635.309645  923341.936847
                                2018   87879.993000   76145.352000
                                2019   98433.180000   89831.600000
                                2020  104025.150000       0.000000

                                                Mai           Jun  \
COMBUSTÍVEL           ESTADO    ANO
ETANOL HIDRATADO (m3) ACRE      2000     450.580000  6.029200e+02
                                2001     445.531000  4.022930e+02
                                2002     411.013000  3.616290e+02
                                2003     254.790000  2.526380e+02
                                2004     282.111000  2.543200e+02
...                                             ...           ...
ÓLEO DIESEL (m3)      TOCANTINS 2016   65680.890000  7.801148e+04
                                2017   59915.619102  6.258324e+04
                                2018  965722.835000  6.896524e+04
                                2019   77721.710000  1.026947e+06
                                2020       0.000000  0.000000e+00

                                                Jul           Ago  \
COMBUSTÍVEL           ESTADO    ANO
ETANOL HIDRATADO (m3) ACRE      2000     530.749000    573.478000
                                2001     476.076000    427.034000
                                2002     378.842000    407.331000
                                2003     226.971000    375.784000
                                2004     336.510000    256.842000
...                                             ...           ...
ÓLEO DIESEL (m3)      TOCANTINS 2016   72155.600000  71703.350000
                                2017   86222.874555  71774.602742
                                2018   65566.011000  88876.370000
                                2019   72199.680000  81244.690000
                                2020  825846.050000  74915.360000

                                               Set           Out  \
COMBUSTÍVEL           ESTADO    ANO
ETANOL HIDRATADO (m3) ACRE      2000    304.511000    565.885000
                                2001    304.120000    365.333000
                                2002    457.891000    449.576000
                                2003    293.035000    373.150000
                                2004    338.210000    356.215000
...                                            ...           ...
ÓLEO DIESEL (m3)      TOCANTINS 2016  72336.300000  71175.350000
                                2017  78083.621555  77125.750008
                                2018  84402.775000  61099.975000
                                2019  82703.370000  81839.832000
                                2020  85914.160000  91599.370000

                                               Nov           Dez         TOTAL
COMBUSTÍVEL           ESTADO    ANO
ETANOL HIDRATADO (m3) ACRE      2000   7154.303000    501.460000    453.620000
                                2001    277.093000   4771.364000    431.293000
                                2002    288.457000    214.524000   4426.421000
                                2003    318.967000    294.107000    346.580000
                                2004    332.159000    326.736000    318.206000
...                                            ...           ...           ...
ÓLEO DIESEL (m3)      TOCANTINS 2016  74095.700000  68221.350000  70237.700000
                                2017  80173.681828  84472.141828  80362.824102
                                2018  87903.930000  83566.279000  88853.520000
                                2019  86602.420000  80627.390000  90727.380000
                                2020  77712.100000  86426.700000  94285.640000

[4536 rows x 13 columns]

In [195]:
df_b = df_a.pivot_table(columns='ANO')

In [196]:
df_b

ANO,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
Abr,62352.373430,61209.014460,45216.437935,60890.697290,85849.888917,52735.031599,63118.528800,79219.182537,70326.876803,65004.368970,...,80292.942442,85881.499191,100565.001637,122678.562126,73627.111889,96745.818360,131511.978405,77437.716266,90979.511025,75910.806697
Ago,67203.825120,80858.472616,59738.297007,58707.814701,63066.225301,64774.124999,47347.885182,70127.511092,101374.039493,65280.743198,...,99362.005139,89345.303428,82405.629739,117053.079586,96423.770844,89941.731848,94420.619663,127780.748203,75399.688821,69793.680765
Dez,51402.117274,64205.958153,70549.709302,53159.864256,58267.229353,75202.982260,60992.947291,65168.133019,76884.563272,101963.370014,...,85517.253418,123873.942344,81344.702224,93876.882369,111680.493430,94877.351488,84297.505748,103741.496411,87041.028447,65509.831172
Fev,45563.991806,63740.438842,85751.786049,49703.959147,61301.286257,72463.025483,59428.502182,59138.689205,84227.080122,71431.475575,...,88539.139214,106759.445930,73029.438553,103704.834323,135952.977536,78484.771214,87980.548437,109517.834815,99975.348531,56976.637627
Jan,63177.639081,85792.583167,51934.719170,58599.822554,72242.937569,58407.174405,56095.208019,79693.982928,69588.780763,71645.329115,...,104082.191876,68843.906261,98084.521735,136258.977393,83851.832105,87257.396675,109156.272357,98808.394429,84921.145723,70069.745543
Jul,80984.029306,58364.799471,61730.620168,58908.299147,65448.813925,46359.462378,65295.390902,93513.388255,62893.010111,70906.599705,...,84465.811989,79329.751849,112424.721675,97939.141855,93047.898979,96108.325365,119293.044916,72271.614676,99831.953685,94115.463820
Jun,59757.079073,63962.270180,61101.147803,58389.150194,45301.864943,64137.403414,86319.477997,57487.563109,70809.645814,86124.484031,...,73577.835433,108149.691199,91786.479845,95686.501388,101958.139348,121611.391964,71464.123957,97878.064712,138951.728059,51921.118757
Mai,63456.463860,62127.243403,61885.746779,43374.852960,64110.795232,86064.098545,53458.613935,66162.241229,84564.155656,72626.164385,...,100417.306959,85893.749788,91061.759011,106997.319985,127957.423365,70749.245266,98763.781928,134138.570390,78861.892396,61498.747567
Mar,63454.056473,45169.291647,63701.525774,81649.754717,51630.793697,61305.197423,73879.381770,63255.133550,63040.551056,84074.897809,...,81680.495908,94228.722407,114026.638873,77281.461724,100358.317320,128919.085670,77260.072106,89168.040243,112367.395457,68766.776659
Nov,63685.201908,70568.750885,56190.838722,56757.067921,74012.970718,59214.870064,60676.456451,71487.233181,94845.401407,59885.208570,...,115000.142366,77536.551899,90285.596898,115326.376695,99914.850509,83044.808109,111841.710620,84543.416838,94592.242055,65179.731170
Out,70417.547176,56379.274108,61833.149313,71958.873866,58346.326138,61243.826760,64943.465164,83320.677394,56679.890823,74971.736919,...,72822.190632,85220.627151,110068.673179,100336.663666,85378.019449,109513.229504,88692.500304,90123.731722,94074.533534,93400.715689
Set,56628.250931,65133.500450,77467.207250,55985.772510,61539.841595,62794.879673,72028.734876,51661.283706,75144.699977,103290.998961,...,81640.535034,104059.149820,95059.428339,86254.992794,111520.400595,89080.739096,88858.100464,92329.874344,137100.622059,49547.779919
TOTAL,83563.204892,52346.721480,62313.046018,67232.248325,57582.894338,57588.586283,75978.314577,65188.265184,70848.276065,80228.454058,...,64396.618381,91698.754654,131449.143700,85334.590543,91444.329917,107755.492532,96532.156129,82967.915186,103450.092362,63103.530861

In [183]:
df_a.pivot_table(columns="ANO")

AttributeError: 'DataFrameGroupBy' object has no attribute 'pivot_table'

In [173]:
df11 = df1.pivot_table(columns='ANO')

In [174]:
df11.columns

Int64Index([2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010,
            2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020],
           dtype='int64', name='ANO')

In [109]:
df = pd.concat((df1,df2,df3))

In [110]:
df

,COMBUSTÍVEL,ANO,REGIÃO,ESTADO,Jan,Fev,Mar,Abr,Mai,Jun,Jul,Ago,Set,Out,Nov,Dez,TOTAL
0,GASOLINA C (m3),2000,REGIÃO NORTE,RONDÔNIA,136073.253000,9563.263000,11341.229000,9369.746000,10719.983000,11165.968000,12312.451000,11220.970000,12482.281000,13591.122000,11940.570000,11547.576000,10818.094000
1,GASOLINA C (m3),2000,REGIÃO NORTE,ACRE,3358.346000,40001.853000,3065.758000,3495.290000,2946.930000,3023.920000,3206.930000,3612.580000,3264.460000,3835.740000,3676.571000,3225.610000,3289.718000
2,GASOLINA C (m3),2000,REGIÃO NORTE,AMAZONAS,20766.918000,21180.919000,242742.352000,17615.604000,20258.200000,18741.344000,19604.023000,20221.674000,20792.616000,19912.898000,21869.338000,21145.643000,20633.175000
3,GASOLINA C (m3),2000,REGIÃO NORTE,RORAIMA,3716.032000,3200.400000,3339.332000,43338.929000,3259.300000,3636.216000,3631.569000,3348.416000,3394.016000,4078.616000,3346.616000,4029.900000,4358.516000
4,GASOLINA C (m3),2000,REGIÃO NORTE,PARÁ,29755.907000,28661.951000,28145.784000,29294.796000,359575.398000,28830.479000,32297.047000,27310.979000,29396.384000,26511.009000,36553.250000,31807.840000,31009.972000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
589,GLP - Outros (m3),2020,REGIÃO SUL,RIO GRANDE DO SUL,28255.739130,NaN,NaN,NaN,217302.217391,20717.175725,20737.911232,22258.945652,18676.981884,22157.907609,25869.240942,30176.443841,28451.871377
590,GLP - Outros (m3),2020,REGIÃO CENTRO-OESTE,MATO GROSSO DO SUL,2738.010870,3062.471014,NaN,NaN,NaN,25132.885870,2972.963768,3259.456522,3162.367754,2285.641304,2301.239130,2519.914855,2830.820652
591,GLP - Outros (m3),2020,REGIÃO CENTRO-OESTE,MATO GROSSO,3777.313406,3614.556159,3705.135870,NaN,NaN,NaN,33101.132246,4279.393116,4232.239130,3911.268116,2858.639493,3263.902174,3458.684783
592,GLP - Outros (m3),2020,REGIÃO CENTRO-OESTE,GOIÁS,16549.153986,18153.253623,18046.344203,17283.744565,NaN,NaN,NaN,153119.164855,17612.538043,17169.230072,18660.853261,14036.737319,15607.309783
593,GLP - Outros (m3),2020,REGIÃO CENTRO-OESTE,DISTRITO FEDERAL,4388.708333,4840.400362,5057.288043,5091.076087,4830.789855,NaN,NaN,NaN,43551.786232,4824.400362,4967.375000,5350.067029,4201.681159

In [146]:
df["ESTADO"].unique().tolist()

27

In [154]:
list_produtos = ['GASOLINA C (m3)','ETANOL HIDRATADO (m3)',
 'GASOLINA DE AVIAÇÃO (m3)',
 'QUEROSENE DE AVIAÇÃO (m3)',
 'GLP (m3)',
 'ÓLEO COMBUSTÍVEL (m3)',
 'ÓLEO DIESEL (m3)',
 'QUEROSENE ILUMINANTE (m3)']

In [155]:
df_filtered = df[ df["COMBUSTÍVEL"].isin(list_produtos)]

In [170]:
df_filtered.shape

(4536, 17)

In [145]:
ss

['GASOLINA C (m3)',
 'GASOLINA DE AVIAÇÃO (m3)',
 'QUEROSENE ILUMINANTE (m3)',
 'QUEROSENE DE AVIAÇÃO (m3)',
 'ÓLEO DIESEL (m3)',
 'ÓLEO COMBUSTÍVEL (m3)',
 'ETANOL HIDRATADO (m3)',
 'GLP (m3)',
 'ÓLEO DIESEL S-10 (m3)',
 'ÓLEO DIESEL S-500 (m3)',
 'ÓLEO DIESEL S-1800 (m3)',
 'ÓLEO DIESEL MARÍTIMO (m3)',
 'ÓLEO DIESEL (OUTROS ) (m3)',
 'GLP - Até P13 (m3)',
 'GLP - Outros (m3)']

In [163]:
dfg = df_filtered.groupby(['COMBUSTÍVEL','ESTADO','ANO']).agg({'Dez': 'sum'}).reset_index()

In [169]:
dfg[ (dfg["ESTADO"] == 'SÃO PAULO') & ( (dfg["COMBUSTÍVEL"] == 'ETANOL HIDRATADO (m3)') ) ]

               COMBUSTÍVEL     ESTADO   ANO           Dez
525  ETANOL HIDRATADO (m3)  SÃO PAULO  2000  1.313560e+05
526  ETANOL HIDRATADO (m3)  SÃO PAULO  2001  1.168107e+05
527  ETANOL HIDRATADO (m3)  SÃO PAULO  2002  1.593036e+05
528  ETANOL HIDRATADO (m3)  SÃO PAULO  2003  8.759862e+04
529  ETANOL HIDRATADO (m3)  SÃO PAULO  2004  2.080958e+05
530  ETANOL HIDRATADO (m3)  SÃO PAULO  2005  1.797191e+05
531  ETANOL HIDRATADO (m3)  SÃO PAULO  2006  2.575212e+05
532  ETANOL HIDRATADO (m3)  SÃO PAULO  2007  3.641489e+05
533  ETANOL HIDRATADO (m3)  SÃO PAULO  2008  5.305473e+05
534  ETANOL HIDRATADO (m3)  SÃO PAULO  2009  8.609999e+06
535  ETANOL HIDRATADO (m3)  SÃO PAULO  2010  7.923597e+05
536  ETANOL HIDRATADO (m3)  SÃO PAULO  2011  5.017304e+05
537  ETANOL HIDRATADO (m3)  SÃO PAULO  2012  5.326417e+05
538  ETANOL HIDRATADO (m3)  SÃO PAULO  2013  5.931426e+05
539  ETANOL HIDRATADO (m3)  SÃO PAULO  2014  6.229598e+05
540  ETANOL HIDRATADO (m3)  SÃO PAULO  2015  7.976108e+05
541  ETANOL HIDRATADO (m3)  SÃO PAULO  2016  7.222911e+05
542  ETANOL HIDRATADO (m3)  SÃO PAULO  2017  6.262020e+05
543  ETANOL HIDRATADO (m3)  SÃO PAULO  2018  6.986603e+05
544  ETANOL HIDRATADO (m3)  SÃO PAULO  2019  9.123466e+05
545  ETANOL HIDRATADO (m3)  SÃO PAULO  2020  9.343908e+05

In [123]:
dfg.pivot_table(index='Jan',columns='ANO')

/tmp/ipykernel_45891/1930369837.py:1: FutureWarning: Dropping invalid columns in DataFrameGroupBy.mean is deprecated. In a future version, a TypeError will be raised. Before calling .mean, select only columns which should be valid for the function.
  dfg.pivot_table(index='Jan',columns='ANO')

Empty DataFrame
Columns: []
Index: [-0.21220702734847557, -0.12, 0.0, 1.553400247710273e-05, 0.014, 0.1, 0.108, 0.1764662669006266, 0.316, 0.321, 0.33, 0.428, 0.441, 0.504, 0.543, 0.6, 0.604, 0.647, 0.6501511843068531, 0.75, 0.8, 1.212, 1.22, 1.4241895406609675, 1.5, 1.528, 1.576, 1.583, 1.656, 2.0, 2.0755047811149105, 2.199, 2.235, 2.491, 2.5, 2.567, 2.6, 2.8, 2.8617821178264955, 3.0, 3.381, 3.7550875403659045, 4.000162029108222, 4.582290815036429, 4.6, 4.66, 4.8, 4.949276484532914, 4.954, 4.979, 4.983134854397482, 5.0, 5.2, 5.271, 5.521, 5.95, 6.00244169994153, 6.121, 6.60497309429388, 6.980266543182995, 7.0, 7.252, 7.5, 8.205, 8.82, 8.976, 9.103, 9.261, 9.938775510204081, 9.959, 10.0, 10.216, 10.4, 10.50007079998318, 10.8, 11.378, 11.427796292040888, 11.449090709805233, 11.679, 11.8, 12.45, 12.5, 12.8, 13.103655451229342, 13.27, 13.54, 13.6, 13.79, 14.12, 14.159, 14.857142857142858, 14.9, 14.925, 14.94020534981587, 15.0, 15.093980678998982, 15.113, 15.22, 15.436, 15.488637010852672, ...]

[5243 rows x 0 columns]

In [124]:
dfg.pivot_table(index='Jan',columns='ANO')

/tmp/ipykernel_45891/1930369837.py:1: FutureWarning: Dropping invalid columns in DataFrameGroupBy.mean is deprecated. In a future version, a TypeError will be raised. Before calling .mean, select only columns which should be valid for the function.
  dfg.pivot_table(index='Jan',columns='ANO')

Empty DataFrame
Columns: []
Index: [-0.21220702734847557, -0.12, 0.0, 1.553400247710273e-05, 0.014, 0.1, 0.108, 0.1764662669006266, 0.316, 0.321, 0.33, 0.428, 0.441, 0.504, 0.543, 0.6, 0.604, 0.647, 0.6501511843068531, 0.75, 0.8, 1.212, 1.22, 1.4241895406609675, 1.5, 1.528, 1.576, 1.583, 1.656, 2.0, 2.0755047811149105, 2.199, 2.235, 2.491, 2.5, 2.567, 2.6, 2.8, 2.8617821178264955, 3.0, 3.381, 3.7550875403659045, 4.000162029108222, 4.582290815036429, 4.6, 4.66, 4.8, 4.949276484532914, 4.954, 4.979, 4.983134854397482, 5.0, 5.2, 5.271, 5.521, 5.95, 6.00244169994153, 6.121, 6.60497309429388, 6.980266543182995, 7.0, 7.252, 7.5, 8.205, 8.82, 8.976, 9.103, 9.261, 9.938775510204081, 9.959, 10.0, 10.216, 10.4, 10.50007079998318, 10.8, 11.378, 11.427796292040888, 11.449090709805233, 11.679, 11.8, 12.45, 12.5, 12.8, 13.103655451229342, 13.27, 13.54, 13.6, 13.79, 14.12, 14.159, 14.857142857142858, 14.9, 14.925, 14.94020534981587, 15.0, 15.093980678998982, 15.113, 15.22, 15.436, 15.488637010852672, ...]

[5243 rows x 0 columns]

In [96]:
df.pivot_table(index=None,columns="ANO",values="TOTAL")

ANO,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
TOTAL,83563.204892,52346.72148,62313.046018,67232.248325,57582.894338,57588.586283,75978.314577,65188.265184,70848.276065,80228.454058,...,57624.342045,79903.531041,97151.232302,87683.394369,68908.795212,80905.855972,73841.085728,67285.260476,87325.039808,69352.946482

In [28]:
df_grouped1 = df.groupby(['ESTADO','COMBUSTÍVEL','ANO']).sum()
df_grouped2 = df.groupby(['ANO']).sum()

In [43]:
# df_grouped1.loc['ACRE',['2019,2020']]
df_grouped1.loc[("ACRE","ETANOL HIDRATADO (m3)",2010)]

Jan       843.000000
Fev       776.000000
Mar       553.000000
Abr      1201.000000
Mai      1012.000000
Jun      1093.018141
Jul      1261.018141
Ago      9494.531680
Set       802.000000
Out       406.470000
Nov       517.003628
Dez       527.021769
TOTAL     503.000000
Name: (ACRE, ETANOL HIDRATADO (m3), 2010), dtype: float64

In [45]:
# path = '/opt/airflow/data/vendas-combustiveis-2.xls'
path = '../data/vendas-combustiveis-2.xls'
sheets = ['DPCache_m3','DPCache_m3_2','DPCache_m3_3']
        
dfs = []
for sheet in sheets:
    df = pd.read_excel(path, sheet_name=sheet)
    dfs.append(df)

In [47]:
concat_df = pd.concat(dfs)

In [48]:
concat_df.columns

Index(['COMBUSTÍVEL', 'ANO', 'REGIÃO', 'ESTADO', 'Jan', 'Fev', 'Mar', 'Abr',
       'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez', 'TOTAL'],
      dtype='object')

In [73]:
df_grouped1.pivot_table(index=['Jan', 'Fev', 'Mar', 'Abr',
       'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'] ,columns="ANO")

                                                                                                                                                                   TOTAL  \
ANO                                                                                                                                                                 2000
Jan           Fev           Mar            Abr           Mai           Jun          Jul          Ago          Set          Out          Nov           Dez
-2.122070e-01 46.020205      10.802658     257.541694     2.540440e+01 2.892603e+01 1.367358e+01 2.383842e+01 2.321963e+01 2.372898e+01  1.568119e+01 1.345295e+01   NaN
-1.200000e-01 0.000000       0.000000      0.000000       1.608000e+00 0.000000e+00 0.000000e+00 0.000000e+00 5.152000e+00 6.640000e+00  0.000000e+00 0.000000e+00   NaN
 0.000000e+00 0.000000      -1.499000      5.254000       7.900000e-02 4.260000e-01 0.000000e+00 1.000000e+00 5.350000e-01 0.000000e+00 -9.725000e+00 9.320000e-01   NaN
                             0.000000      0.000000      -1.220000e+02 0.000000e+00 0.000000e+00 0.000000e+00 0.000000e+00 0.000000e+00 -1.220000e+02 0.000000e+00   NaN
                                                          0.000000e+00 0.000000e+00 0.000000e+00 0.000000e+00 0.000000e+00 0.000000e+00  0.000000e+00 0.000000e+00   0.0
...                                                                                                                                                                  ...
 6.490307e+06 638352.295512  665081.872173 425559.103000  2.983348e+05 5.450858e+05 6.467855e+05 5.945056e+05 6.193802e+05 5.079334e+05  5.336622e+05 5.017304e+05   NaN
 6.880262e+06 502458.522719  497998.908175 605118.528023  5.254022e+05 5.868259e+05 5.974037e+05 6.028470e+05 6.296225e+05 6.135477e+05  6.151051e+05 5.775556e+05   NaN
 7.153913e+06 559463.048856  541452.403257 622086.387252  5.816972e+05 6.130931e+05 6.018231e+05 5.856270e+05 6.095426e+05 5.721739e+05  6.233766e+05 5.862613e+05   NaN
 9.226870e+06 666507.811000  614475.669000 760400.785000  7.015003e+05 7.506540e+05 7.874244e+05 7.992410e+05 8.682966e+05 8.067619e+05  9.175960e+05 8.534698e+05   NaN
 1.283015e+07 919635.512000  959603.245000 997848.490000  1.056620e+06 1.150525e+06 1.062005e+06 1.136622e+06 1.182354e+06 1.152055e+06  1.241558e+06 1.014290e+06   NaN

                                                                                                                                                                                \
ANO                                                                                                                                                                       2001
Jan           Fev           Mar            Abr           Mai           Jun          Jul          Ago          Set          Out          Nov           Dez
-2.122070e-01 46.020205      10.802658     257.541694     2.540440e+01 2.892603e+01 1.367358e+01 2.383842e+01 2.321963e+01 2.372898e+01  1.568119e+01 1.345295e+01         NaN
-1.200000e-01 0.000000       0.000000      0.000000       1.608000e+00 0.000000e+00 0.000000e+00 0.000000e+00 5.152000e+00 6.640000e+00  0.000000e+00 0.000000e+00         NaN
 0.000000e+00 0.000000      -1.499000      5.254000       7.900000e-02 4.260000e-01 0.000000e+00 1.000000e+00 5.350000e-01 0.000000e+00 -9.725000e+00 9.320000e-01         NaN
                             0.000000      0.000000      -1.220000e+02 0.000000e+00 0.000000e+00 0.000000e+00 0.000000e+00 0.000000e+00 -1.220000e+02 0.000000e+00         NaN
                                                          0.000000e+00 0.000000e+00 0.000000e+00 0.000000e+00 0.000000e+00 0.000000e+00  0.000000e+00 0.000000e+00       0.000
...                                                                                                                                                                        ...
 6.490307e+06 638352.295512  665081.872173 425559.103000  2.983348e+05 5.450858e+05 6.467855e+05 5.945056e+05 6.193802e+05 5.079334e+05  5.336622e+05 5.017304e+05         NaN
 6.880262e+06 502458.522719  497998.908175 605118.528023  5.254022e+05 5.868259e+05 5.974037e+05 6.028470e+05 6.296225e+05 6.135477e+05  6.151051e+05 5.775556e+05         NaN
 7.153913e+06 559463.048856  541452.403257 622086.387252  5.816972e+05 6.130931e+05 6.018231e+05 5.856270e+05 6.095426e+05 5.721739e+05  6.233766e+05 5.862613e+05         NaN
 9.226870e+06 666507.811000  614475.669000 760400.785000  7.015003e+05 7.506540e+05 7.874244e+05 7.992410e+05 8.682966e+05 8.067619e+05  9.175960e+05 8.534698e+05  700541.173
 1.283015e+07 919635.512000  959603.245000 997848.490000  1.056620e+06 1.150525e+06 1.062005e+06 1.136622e+06 1.182354e+06 1.152055e+06  1.241558e+06 1.014290e+06         NaN

                                                                                                                                                                         \
ANO                                                                                                                                                                2002
Jan           Fev           Mar            Abr           Mai           Jun          Jul          Ago          Set          Out          Nov           Dez
-2.122070e-01 46.020205      10.802658     257.541694     2.540440e+01 2.892603e+01 1.367358e+01 2.383842e+01 2.321963e+01 2.372898e+01  1.568119e+01 1.345295e+01  NaN
-1.200000e-01 0.000000       0.000000      0.000000       1.608000e+00 0.000000e+00 0.000000e+00 0.000000e+00 5.152000e+00 6.640000e+00  0.000000e+00 0.000000e+00  NaN
 0.000000e+00 0.000000      -1.499000      5.254000       7.900000e-02 4.260000e-01 0.000000e+00 1.000000e+00 5.350000e-01 0.000000e+00 -9.725000e+00 9.320000e-01  NaN
                             0.000000      0.000000      -1.220000e+02 0.000000e+00 0.000000e+00 0.000000e+00 0.000000e+00 0.000000e+00 -1.220000e+02 0.000000e+00  NaN
                                                          0.000000e+00 0.000000e+00 0.000000e+00 0.000000e+00 0.000000e+00 0.000000e+00  0.000000e+00 0.000000e+00  0.0
...                                                                                                                                                                 ...
 6.490307e+06 638352.295512  665081.872173 425559.103000  2.983348e+05 5.450858e+05 6.467855e+05 5.945056e+05 6.193802e+05 5.079334e+05  5.336622e+05 5.017304e+05  NaN
 6.880262e+06 502458.522719  497998.908175 605118.528023  5.254022e+05 5.868259e+05 5.974037e+05 6.028470e+05 6.296225e+05 6.135477e+05  6.151051e+05 5.775556e+05  NaN
 7.153913e+06 559463.048856  541452.403257 622086.387252  5.816972e+05 6.130931e+05 6.018231e+05 5.856270e+05 6.095426e+05 5.721739e+05  6.233766e+05 5.862613e+05  NaN
 9.226870e+06 666507.811000  614475.669000 760400.785000  7.015003e+05 7.506540e+05 7.874244e+05 7.992410e+05 8.682966e+05 8.067619e+05  9.175960e+05 8.534698e+05  NaN
 1.283015e+07 919635.512000  959603.245000 997848.490000  1.056620e+06 1.150525e+06 1.062005e+06 1.136622e+06 1.182354e+06 1.152055e+06  1.241558e+06 1.014290e+06  NaN

                                                                                                                                                                         \
ANO                                                                                                                                                                2003
Jan           Fev           Mar            Abr           Mai           Jun          Jul          Ago          Set          Out          Nov           Dez
-2.122070e-01 46.020205      10.802658     257.541694     2.540440e+01 2.892603e+01 1.367358e+01 2.383842e+01 2.321963e+01 2.372898e+01  1.568119e+01 1.345295e+01  NaN
-1.200000e-01 0.000000       0.000000      0.000000       1.608000e+00 0.000000e+00 0.000000e+00 0.000000e+00 5.152000e+00 6.640000e+00  0.000000e+00 0.000000e+00  NaN
 0.000000e+00 0.000000      -1.499000      5.254000       7.900000e-02 4.260000e-01 0.000000e+00 1.000000e+00 5.350000e-01 0.000000e+00 -9.725000e+00 9.320000e-01  NaN
                             0.000000      0.000000      -1.220000e+02 0.000000e+00 0.000000e+00 0.000000e+00 0.000000e+00 0.000000e+00 -1.220000e+02 0.000000e+00  NaN
                                                          0.000000e+00 0.000000e+00 0.000000e+00 0.000000e+00 0.000000e+00 0.000000e+00  0.000000e+00 0.000000e+00  0.0
...                                                                                                                                                                 ...
 6.490307e+06 638352.295512  665081.872173 425559.103000  2.983348e+05 5.450858e+05 6.467855e+05 5.945056e+05 6.193802e+05 5.079334e+05  5.336622e+05 5.017304e+05  NaN
 6.880262e+06 502458.522719  497998.908175 605118.528023  5.254022e+05 5.868259e+05 5.974037e+05 6.028470e+05 6.296225e+05 6.135477e+05  6.151051e+05 5.775556e+05  NaN
 7.153913e+06 559463.048856  541452.403257 622086.387252  5.816972e+05 6.130931e+05 6.018231e+05 5.856270e+05 6.095426e+05 5.721739e+05  6.233766e+05 5.862613e+05  NaN
 9.226870e+06 666507.811000  614475.669000 760400.785000  7.015003e+05 7.506540e+05 7.874244e+05 7.992410e+05 8.682966e+05 8.067619e+05  9.175960e+05 8.534698e+05  NaN
 1.283015e+07 919635.512000  959603.245000 997848.490000  1.056620e+06 1.150525e+06 1.062005e+06 1.136622e+06 1.182354e+06 1.152055e+06  1.241558e+06 1.014290e+06  NaN

                                                                                                                                                                         \
ANO                                                                                                                                                                2004
Jan           Fev           Mar            Abr           Mai           Jun          Jul          Ago          Set          Out          Nov           Dez
-2.122070e-01 46.020205      10.802658     257.541694     2.540440e+01 2.892603e+01 1.367358e+01 2.383842e+01 2.321963e+01 2.372898e+01  1.568119e+01 1.345295e+01  NaN
-1.200000e-01 0.000000       0.000000      0.000000       1.608000e+00 0.000000e+00 0.000000e+00 0.000000e+00 5.152000e+00 6.640000e+00  0.000000e+00 0.000000e+00  NaN
 0.000000e+00 0.000000      -1.499000      5.254000       7.900000e-02 4.260000e-01 0.000000e+00 1.000000e+00 5.350000e-01 0.000000e+00 -9.725000e+00 9.320000e-01  NaN
                             0.000000      0.000000      -1.220000e+02 0.000000e+00 0.000000e+00 0.000000e+00 0.000000e+00 0.000000e+00 -1.220000e+02 0.000000e+00  NaN
                                                          0.000000e+00 0.000000e+00 0.000000e+00 0.000000e+00 0.000000e+00 0.000000e+00  0.000000e+00 0.000000e+00  0.0
...                                                                                                                                                                 ...
 6.490307e+06 638352.295512  665081.872173 425559.103000  2.983348e+05 5.450858e+05 6.467855e+05 5.945056e+05 6.193802e+05 5.079334e+05  5.336622e+05 5.017304e+05  NaN
 6.880262e+06 502458.522719  497998.908175 605118.528023  5.254022e+05 5.868259e+05 5.974037e+05 6.028470e+05 6.296225e+05 6.135477e+05  6.151051e+05 5.775556e+05  NaN
 7.153913e+06 559463.048856  541452.403257 622086.387252  5.816972e+05 6.130931e+05 6.018231e+05 5.856270e+05 6.095426e+05 5.721739e+05  6.233766e+05 5.862613e+05  NaN
 9.226870e+06 666507.811000  614475.669000 760400.785000  7.015003e+05 7.506540e+05 7.874244e+05 7.992410e+05 8.682966e+05 8.067619e+05  9.175960e+05 8.534698e+05  NaN
 1.283015e+07 919635.512000  959603.245000 997848.490000  1.056620e+06 1.150525e+06 1.062005e+06 1.136622e+06 1.182354e+06 1.152055e+06  1.241558e+06 1.014290e+06  NaN

                                                                                                                                                                         \
ANO                                                                                                                                                                2005
Jan           Fev           Mar            Abr           Mai           Jun          Jul          Ago          Set          Out          Nov           Dez
-2.122070e-01 46.020205      10.802658     257.541694     2.540440e+01 2.892603e+01 1.367358e+01 2.383842e+01 2.321963e+01 2.372898e+01  1.568119e+01 1.345295e+01  NaN
-1.200000e-01 0.000000       0.000000      0.000000       1.608000e+00 0.000000e+00 0.000000e+00 0.000000e+00 5.152000e+00 6.640000e+00  0.000000e+00 0.000000e+00  NaN
 0.000000e+00 0.000000      -1.499000      5.254000       7.900000e-02 4.260000e-01 0.000000e+00 1.000000e+00 5.350000e-01 0.000000e+00 -9.725000e+00 9.320000e-01  NaN
                             0.000000      0.000000      -1.220000e+02 0.000000e+00 0.000000e+00 0.000000e+00 0.000000e+00 0.000000e+00 -1.220000e+02 0.000000e+00  NaN
                                                          0.000000e+00 0.000000e+00 0.000000e+00 0.000000e+00 0.000000e+00 0.000000e+00  0.000000e+00 0.000000e+00  0.0
...                                                                                                                                                                 ...
 6.490307e+06 638352.295512  665081.872173 425559.103000  2.983348e+05 5.450858e+05 6.467855e+05 5.945056e+05 6.193802e+05 5.079334e+05  5.336622e+05 5.017304e+05  NaN
 6.880262e+06 502458.522719  497998.908175 605118.528023  5.254022e+05 5.868259e+05 5.974037e+05 6.028470e+05 6.296225e+05 6.135477e+05  6.151051e+05 5.775556e+05  NaN
 7.153913e+06 559463.048856  541452.403257 622086.387252  5.816972e+05 6.130931e+05 6.018231e+05 5.856270e+05 6.095426e+05 5.721739e+05  6.233766e+05 5.862613e+05  NaN
 9.226870e+06 666507.811000  614475.669000 760400.785000  7.015003e+05 7.506540e+05 7.874244e+05 7.992410e+05 8.682966e+05 8.067619e+05  9.175960e+05 8.534698e+05  NaN
 1.283015e+07 919635.512000  959603.245000 997848.490000  1.056620e+06 1.150525e+06 1.062005e+06 1.136622e+06 1.182354e+06 1.152055e+06  1.241558e+06 1.014290e+06  NaN

                                                                                                                                                                         \
ANO                                                                                                                                                                2006
Jan           Fev           Mar            Abr           Mai           Jun          Jul          Ago          Set          Out          Nov           Dez
-2.122070e-01 46.020205      10.802658     257.541694     2.540440e+01 2.892603e+01 1.367358e+01 2.383842e+01 2.321963e+01 2.372898e+01  1.568119e+01 1.345295e+01  NaN
-1.200000e-01 0.000000       0.000000      0.000000       1.608000e+00 0.000000e+00 0.000000e+00 0.000000e+00 5.152000e+00 6.640000e+00  0.000000e+00 0.000000e+00  NaN
 0.000000e+00 0.000000      -1.499000      5.254000       7.900000e-02 4.260000e-01 0.000000e+00 1.000000e+00 5.350000e-01 0.000000e+00 -9.725000e+00 9.320000e-01  NaN
                             0.000000      0.000000      -1.220000e+02 0.000000e+00 0.000000e+00 0.000000e+00 0.000000e+00 0.000000e+00 -1.220000e+02 0.000000e+00  NaN
                                                          0.000000e+00 0.000000e+00 0.000000e+00 0.000000e+00 0.000000e+00 0.000000e+00  0.000000e+00 0.000000e+00  0.0
...                                                                                                                                                                 ...
 6.490307e+06 638352.295512  665081.872173 425559.103000  2.983348e+05 5.450858e+05 6.467855e+05 5.945056e+05 6.193802e+05 5.079334e+05  5.336622e+05 5.017304e+05  NaN
 6.880262e+06 502458.522719  497998.908175 605118.528023  5.254022e+05 5.868259e+05 5.974037e+05 6.028470e+05 6.296225e+05 6.135477e+05  6.151051e+05 5.775556e+05  NaN
 7.153913e+06 559463.048856  541452.403257 622086.387252  5.816972e+05 6.130931e+05 6.018231e+05 5.856270e+05 6.095426e+05 5.721739e+05  6.233766e+05 5.862613e+05  NaN
 9.226870e+06 666507.811000  614475.669000 760400.785000  7.015003e+05 7.506540e+05 7.874244e+05 7.992410e+05 8.682966e+05 8.067619e+05  9.175960e+05 8.534698e+05  NaN
 1.283015e+07 919635.512000  959603.245000 997848.490000  1.056620e+06 1.150525e+06 1.062005e+06 1.136622e+06 1.182354e+06 1.152055e+06  1.241558e+06 1.014290e+06  NaN

                                                                                                                                                                                  \
ANO                                                                                                                                                                         2007
Jan           Fev           Mar            Abr           Mai           Jun          Jul          Ago          Set          Out          Nov           Dez
-2.122070e-01 46.020205      10.802658     257.541694     2.540440e+01 2.892603e+01 1.367358e+01 2.383842e+01 2.321963e+01 2.372898e+01  1.568119e+01 1.345295e+01           NaN
-1.200000e-01 0.000000       0.000000      0.000000       1.608000e+00 0.000000e+00 0.000000e+00 0.000000e+00 5.152000e+00 6.640000e+00  0.000000e+00 0.000000e+00           NaN
 0.000000e+00 0.000000      -1.499000      5.254000       7.900000e-02 4.260000e-01 0.000000e+00 1.000000e+00 5.350000e-01 0.000000e+00 -9.725000e+00 9.320000e-01           NaN
                             0.000000      0.000000      -1.220000e+02 0.000000e+00 0.000000e+00 0.000000e+00 0.000000e+00 0.000000e+00 -1.220000e+02 0.000000e+00           NaN
                                                          0.000000e+00 0.000000e+00 0.000000e+00 0.000000e+00 0.000000e+00 0.000000e+00  0.000000e+00 0.000000e+00       0.00000
...                                                                                                                                                                          ...
 6.490307e+06 638352.295512  665081.872173 425559.103000  2.983348e+05 5.450858e+05 6.467855e+05 5.945056e+05 6.193802e+05 5.079334e+05  5.336622e+05 5.017304e+05           NaN
 6.880262e+06 502458.522719  497998.908175 605118.528023  5.254022e+05 5.868259e+05 5.974037e+05 6.028470e+05 6.296225e+05 6.135477e+05  6.151051e+05 5.775556e+05           NaN
 7.153913e+06 559463.048856  541452.403257 622086.387252  5.816972e+05 6.130931e+05 6.018231e+05 5.856270e+05 6.095426e+05 5.721739e+05  6.233766e+05 5.862613e+05  657315.77119
 9.226870e+06 666507.811000  614475.669000 760400.785000  7.015003e+05 7.506540e+05 7.874244e+05 7.992410e+05 8.682966e+05 8.067619e+05  9.175960e+05 8.534698e+05           NaN
 1.283015e+07 919635.512000  959603.245000 997848.490000  1.056620e+06 1.150525e+06 1.062005e+06 1.136622e+06 1.182354e+06 1.152055e+06  1.241558e+06 1.014290e+06           NaN

                                                                                                                                                                         \
ANO                                                                                                                                                                2008
Jan           Fev           Mar            Abr           Mai           Jun          Jul          Ago          Set          Out          Nov           Dez
-2.122070e-01 46.020205      10.802658     257.541694     2.540440e+01 2.892603e+01 1.367358e+01 2.383842e+01 2.321963e+01 2.372898e+01  1.568119e+01 1.345295e+01  NaN
-1.200000e-01 0.000000       0.000000      0.000000       1.608000e+00 0.000000e+00 0.000000e+00 0.000000e+00 5.152000e+00 6.640000e+00  0.000000e+00 0.000000e+00  NaN
 0.000000e+00 0.000000      -1.499000      5.254000       7.900000e-02 4.260000e-01 0.000000e+00 1.000000e+00 5.350000e-01 0.000000e+00 -9.725000e+00 9.320000e-01  NaN

In [70]:
concat_df

,COMBUSTÍVEL,ANO,REGIÃO,ESTADO,Jan,Fev,Mar,Abr,Mai,Jun,Jul,Ago,Set,Out,Nov,Dez,TOTAL
0,GASOLINA C (m3),2000,REGIÃO NORTE,RONDÔNIA,136073.253000,9563.263000,11341.229000,9369.746000,10719.983000,11165.968000,12312.451000,11220.970000,12482.281000,13591.122000,11940.570000,11547.576000,10818.094000
1,GASOLINA C (m3),2000,REGIÃO NORTE,ACRE,3358.346000,40001.853000,3065.758000,3495.290000,2946.930000,3023.920000,3206.930000,3612.580000,3264.460000,3835.740000,3676.571000,3225.610000,3289.718000
2,GASOLINA C (m3),2000,REGIÃO NORTE,AMAZONAS,20766.918000,21180.919000,242742.352000,17615.604000,20258.200000,18741.344000,19604.023000,20221.674000,20792.616000,19912.898000,21869.338000,21145.643000,20633.175000
3,GASOLINA C (m3),2000,REGIÃO NORTE,RORAIMA,3716.032000,3200.400000,3339.332000,43338.929000,3259.300000,3636.216000,3631.569000,3348.416000,3394.016000,4078.616000,3346.616000,4029.900000,4358.516000
4,GASOLINA C (m3),2000,REGIÃO NORTE,PARÁ,29755.907000,28661.951000,28145.784000,29294.796000,359575.398000,28830.479000,32297.047000,27310.979000,29396.384000,26511.009000,36553.250000,31807.840000,31009.972000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
589,GLP - Outros (m3),2020,REGIÃO SUL,RIO GRANDE DO SUL,28255.739130,NaN,NaN,NaN,217302.217391,20717.175725,20737.911232,22258.945652,18676.981884,22157.907609,25869.240942,30176.443841,28451.871377
590,GLP - Outros (m3),2020,REGIÃO CENTRO-OESTE,MATO GROSSO DO SUL,2738.010870,3062.471014,NaN,NaN,NaN,25132.885870,2972.963768,3259.456522,3162.367754,2285.641304,2301.239130,2519.914855,2830.820652
591,GLP - Outros (m3),2020,REGIÃO CENTRO-OESTE,MATO GROSSO,3777.313406,3614.556159,3705.135870,NaN,NaN,NaN,33101.132246,4279.393116,4232.239130,3911.268116,2858.639493,3263.902174,3458.684783
592,GLP - Outros (m3),2020,REGIÃO CENTRO-OESTE,GOIÁS,16549.153986,18153.253623,18046.344203,17283.744565,NaN,NaN,NaN,153119.164855,17612.538043,17169.230072,18660.853261,14036.737319,15607.309783
593,GLP - Outros (m3),2020,REGIÃO CENTRO-OESTE,DISTRITO FEDERAL,4388.708333,4840.400362,5057.288043,5091.076087,4830.789855,NaN,NaN,NaN,43551.786232,4824.400362,4967.375000,5350.067029,4201.681159

In [49]:
concat_df.shape

(6210, 17)

In [50]:

sum_by_year_oil = [18049652,2567273	11306891,839718	13459617,9399666	14522165,6382913	12437905,1770946	12439134,6372097	16411315,948718	14080665,2797458	15303227,6299632	17329346,0765897	23247801,2826761	13909669,5703609	19806931,0053087	28393015,0392591	18432271,5572808	19751975,2620544	23275186,387	20850945,7239412	17921069,6802319	22345219,9502319	13630362,6658841
]

SyntaxError: leading zeros in decimal integer literals are not permitted; use an 0o prefix for octal integers (2264647827.py, line 1)

In [51]:
'ana'.replace('a','u')

'unu'

In [55]:

sum_by_year_oil = [18049652.2567273,11306891.839718,	13459617.9399666,	14522165.6382913,	12437905.1770946,	12439134.6372097,	16411315.948718,	14080665.2797458, 15303227.6299632,	17329346.0765897,	23247801.2826761,	13909669.5703609,	19806931.0053087,	28393015.0392591,	18432271.5572808,	19751975.2620544,	23275186.387,	20850945.7239412,	17921069.6802319,	22345219.9502319,	13630362.6658841]

In [56]:
df_grouped = df.groupby(['ESTADO','COMBUSTÍVEL','ANO']).sum()

In [74]:
concat_df

,COMBUSTÍVEL,ANO,REGIÃO,ESTADO,Jan,Fev,Mar,Abr,Mai,Jun,Jul,Ago,Set,Out,Nov,Dez,TOTAL
0,GASOLINA C (m3),2000,REGIÃO NORTE,RONDÔNIA,136073.253000,9563.263000,11341.229000,9369.746000,10719.983000,11165.968000,12312.451000,11220.970000,12482.281000,13591.122000,11940.570000,11547.576000,10818.094000
1,GASOLINA C (m3),2000,REGIÃO NORTE,ACRE,3358.346000,40001.853000,3065.758000,3495.290000,2946.930000,3023.920000,3206.930000,3612.580000,3264.460000,3835.740000,3676.571000,3225.610000,3289.718000
2,GASOLINA C (m3),2000,REGIÃO NORTE,AMAZONAS,20766.918000,21180.919000,242742.352000,17615.604000,20258.200000,18741.344000,19604.023000,20221.674000,20792.616000,19912.898000,21869.338000,21145.643000,20633.175000
3,GASOLINA C (m3),2000,REGIÃO NORTE,RORAIMA,3716.032000,3200.400000,3339.332000,43338.929000,3259.300000,3636.216000,3631.569000,3348.416000,3394.016000,4078.616000,3346.616000,4029.900000,4358.516000
4,GASOLINA C (m3),2000,REGIÃO NORTE,PARÁ,29755.907000,28661.951000,28145.784000,29294.796000,359575.398000,28830.479000,32297.047000,27310.979000,29396.384000,26511.009000,36553.250000,31807.840000,31009.972000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
589,GLP - Outros (m3),2020,REGIÃO SUL,RIO GRANDE DO SUL,28255.739130,NaN,NaN,NaN,217302.217391,20717.175725,20737.911232,22258.945652,18676.981884,22157.907609,25869.240942,30176.443841,28451.871377
590,GLP - Outros (m3),2020,REGIÃO CENTRO-OESTE,MATO GROSSO DO SUL,2738.010870,3062.471014,NaN,NaN,NaN,25132.885870,2972.963768,3259.456522,3162.367754,2285.641304,2301.239130,2519.914855,2830.820652
591,GLP - Outros (m3),2020,REGIÃO CENTRO-OESTE,MATO GROSSO,3777.313406,3614.556159,3705.135870,NaN,NaN,NaN,33101.132246,4279.393116,4232.239130,3911.268116,2858.639493,3263.902174,3458.684783
592,GLP - Outros (m3),2020,REGIÃO CENTRO-OESTE,GOIÁS,16549.153986,18153.253623,18046.344203,17283.744565,NaN,NaN,NaN,153119.164855,17612.538043,17169.230072,18660.853261,14036.737319,15607.309783
593,GLP - Outros (m3),2020,REGIÃO CENTRO-OESTE,DISTRITO FEDERAL,4388.708333,4840.400362,5057.288043,5091.076087,4830.789855,NaN,NaN,NaN,43551.786232,4824.400362,4967.375000,5350.067029,4201.681159

In [69]:
concat_df.pivot_table(index=['Jan', 'Fev', 'Mar', 'Abr',
       'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'] ,columns="ANO", values=["COMBUSTÍVEL",'ESTADO'])

/tmp/ipykernel_45891/3018743260.py:1: FutureWarning: Dropping invalid columns in DataFrameGroupBy.mean is deprecated. In a future version, a TypeError will be raised. Before calling .mean, select only columns which should be valid for the function.
  concat_df.pivot_table(index=['Jan', 'Fev', 'Mar', 'Abr',

Empty DataFrame
Columns: []
Index: [(-0.21220702734847557, 46.02020493356886, 10.802658388972604, 257.54169425064407, 25.404399097221514, 28.926029241111905, 13.673580621791322, 23.838420738774182, 23.219629431848826, 23.728982503661463, 15.681194752801444, 13.452950681341378), (-0.12, 0.0, 0.0, 0.0, 1.608, 0.0, 0.0, 0.0, 5.152, 6.64, 0.0, 0.0), (0.0, 0.0, 0.0, 0.0, -122.0, 0.0, 0.0, 0.0, 0.0, 0.0, -122.0, 0.0), (0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0), (0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 10.0), (0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 3.0, 3.0), (0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 13.457, 10.034), (0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 830.0, 60.0), (0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 6065.0, 0.0), (0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.792, 0.642, 0.15), (0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 15.0, 0.0, 15.0), (0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 15.0, 15.0, 0.0), (0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 21.0, 21.0, 0.0), (0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.4285831967517464, 0.0, 0.0, 0.0), (0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 5.0, 0.0, 0.0, 0.0), (0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 22.5, 12.5, 5.0, 5.0), (0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1679.382, 410.625, 1268.757, 0.0), (0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.036, 0.036, 0.0, 0.0, 0.0), (0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 3.0, 0.0, 0.0, 0.0, 5.0), (0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 4.0, 0.0, 0.0, 4.0, 0.0), (0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 5.0, 0.0, 0.0, 35.0, 30.0), (0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 10.0, 0.0, 0.0, 0.0, 10.0), (0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 30.0, 15.0, 15.0, 0.0, 0.0), (0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 35.0, 0.0, 40.0, 0.0, 5.0), (0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 85.0, 0.0, 10.0, 45.0, 30.0), (0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 102.0, 0.0, 0.0, 0.0, 40.0), (0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 104.39, 29.39, 0.0, 0.0, 0.0), (0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 367.0, 234.5, 132.5, 0.0, 0.0), (0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 907.0, 4943.0, 3186.0, 9036.0, 0.0), (0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.054, 0.0, 0.0, 0.23399999999999999, 0.18, 0.0), (0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.2, 0.0, 0.2, 0.0, 0.0, 0.0), (0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 3.0, 0.0, 0.0, 0.0, 0.0, 0.0), (0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 16.0, 0.0, 0.0, 6.0, 0.0, 5.0), (0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 30.71, 0.0, 31.05, 0.0, 28.29, 90.05000000000001), (0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 55.0, 35.0, 20.0, 0.0, 0.0, 0.0), (0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 256.0, 110.0, 0.0, 0.0, 160.0, 526.0), (0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 521.477, 521.477, 0.0, 0.0, 0.0, 0.0), (0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 881.0, 881.0, 0.0, 0.0, 0.0, 0.0), (0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 920.0, 160.0, 195.0, 265.0, 300.0, 0.0), (0.0, 0.0, 0.0, 0.0, 0.0, 0.171, 5.171, 0.0, 5.0, 0.0, 0.0, 0.0), (0.0, 0.0, 0.0, 0.0, 0.0, 0.2763837289711941, 0.0, 0.0, 0.0, 0.2763837289711941, 0.0, 0.0), (0.0, 0.0, 0.0, 0.0, 0.0, 0.527, 0.0, 0.0, 0.527, 0.0, 0.0, 0.0), (0.0, 0.0, 0.0, 0.0, 0.0, 4.0, 3.0, 0.0, 1.0, 0.0, 0.0, 0.0), (0.0, 0.0, 0.0, 0.0, 0.0, 10.0, 20.0, 40.0, 35.0, 20.0, 35.0, 160.0), (0.0, 0.0, 0.0, 0.0, 0.0, 15.0, 0.0, 0.0, 0.0, 0.0, 15.0, 0.0), (0.0, 0.0, 0.0, 0.0, 0.0, 15.0, 0.0, 5.0, 0.0, 0.0, 0.0, 5.0), (0.0, 0.0, 0.0, 0.0, 0.0, 35.0, 0.0, 0.0, 35.0, 0.0, 0.0, 0.0), (0.0, 0.0, 0.0, 0.0, 0.0, 35.0, 5.0, 5.0, 25.0, 0.0, 0.0, 0.0), (0.0, 0.0, 0.0, 0.0, 0.0, 40.0, 0.0, 0.0, 0.0, 0.0, 5.0, 35.0), (0.0, 0.0, 0.0, 0.0, 0.0, 91.0, 8.0, 8.0, 58.0, 17.0, 0.0, 0.0), (0.0, 0.0, 0.0, 0.0, 0.0, 110.0, 130.0, 205.0, 105.0, 120.0, 670.0, 0.0), (0.0, 0.0, 0.0, 0.0, 0.0, 168.94897959183672, 0.0, 0.0, 168.94897959183672, 0.0, 0.0, 0.0), (0.0, 0.0, 0.0, 0.0, 0.44200000000000006, 0.082, 0.0, 0.0, 0.0, 0.08, 0.28, 0.0), (0.0, 0.0, 0.0, 0.0, 0.642, 0.0, 0.0, 0.642, 0.0, 0.0, 0.0, 0.0), (0.0, 0.0, 0.0, 0.0, 0.856, 0.0, 0.214, 0.0, 1.07, 0.0, 0.0, 0.0), (0.0, 0.0, 0.0, 0.0, 1.861, 0.0, 0.0, 0.214, 0.0, 0.235, 0.235, 1.177), (0.0, 0.0, 0.0, 0.0, 4.0, 0.0, 0.0, 0.0, 4.0, 0.0, 0.0, 0.0), (0.0, 0.0, 0.0, 0.0, 5.0, 525.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0), (0.0, 0.0, 0.0, 0.0, 15.0, 0.0, 30.0, 0.0, 15.0, 0.0, 0.0, 0.0), (0.0, 0.0, 0.0, 0.0, 15.0, 0.218, 16.677, 1.459, 0.0, 0.0, 0.0, 0.0), (0.0, 0.0, 0.0, 0.0, 17.018, 0.0, 13.0, 0.018, 2.0, 0.0, 0.0, 2.0), (0.0, 0.0, 0.0, 0.0, 20.0, 0.0, 0.0, 10.0, 10.0, 0.0, 0.0, 0.0), (0.0, 0.0, 0.0, 0.0, 20.0, 0.0, 45.0, 0.0, 0.0, 0.0, 0.0, 25.0), (0.0, 0.0, 0.0, 0.0, 29.23673469387755, 29.23673469387755, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0), (0.0, 0.0, 0.0, 0.0, 41.888, 184.441, 0.0, 0.0, 0.0, 409.733, 636.062, 0.0), (0.0, 0.0, 0.0, 0.0, 60.0, 0.0, 30.0, 90.0, 0.0, 0.0, 0.0, 0.0), (0.0, 0.0, 0.0, 0.0, 65.0, 5.0, 0.0, 40.0, 5.0, 5.0, 5.0, 5.0), (0.0, 0.0, 0.0, 0.0, 90.0, 95.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0), (0.0, 0.0, 0.0, 0.0, 140.0, 0.0, 0.0, 0.0, 140.0, 0.0, 0.0, 0.0), (0.0, 0.0, 0.0, 0.4636406756138607, 0.0, 0.0, 0.0, 0.4636406756138607, 0.0, 0.0, 0.0, 0.0), (0.0, 0.0, 0.0, 0.656, 0.293, 0.915, 0.0, 0.0, 10.43, 1.734, 0.911, 0.0), (0.0, 0.0, 0.0, 1.2, 1.2, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0), (0.0, 0.0, 0.0, 5.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0), (0.0, 0.0, 0.0, 5.0, 0.0, 0.0, 0.0, 0.0, 5.0, 0.0, 0.0, 0.0), (0.0, 0.0, 0.0, 5.0, 0.0, 0.0, 0.0, 5.0, 0.0, 0.0, 0.0, 0.0), (0.0, 0.0, 0.0, 5.0, 0.0, 0.0, 0.0, 5.0, 0.0, 0.0, 10.0, 0.0), (0.0, 0.0, 0.0, 5.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 5.0, 11.0), (0.0, 0.0, 0.0, 10.0, 0.0, 10.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0), (0.0, 0.0, 0.0, 15.0, 0.0, 0.0, 0.0, 0.0, 15.0, 0.0, 0.0, 0.0), (0.0, 0.0, 0.0, 15.0, 0.0, 0.0, 0.0, 15.0, 0.0, 0.0, 0.0, 0.0), (0.0, 0.0, 0.0, 15.0, 0.0, 5.0, 45.0, 0.0, 10.0, 0.0, 0.0, 0.0), (0.0, 0.0, 0.0, 15.0, 15.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0), (0.0, 0.0, 0.0, 25.0, 0.0, 0.0, 0.0, 0.0, 20.0, 0.0, 45.0, 0.0), (0.0, 0.0, 0.0, 30.0, 0.0, 0.0, 0.0, 0.0, 50.258017718248006, 0.0, 20.0, 0.0), (0.0, 0.0, 0.0, 30.0, 0.0, 15.0, 0.0, 0.0, 0.0, 0.0, 0.0, 15.0), (0.0, 0.0, 0.0, 60.04081632653062, 0.0, 0.0, 60.04081632653062, 0.0, 0.0, 0.0, 0.0, 0.0), (0.0, 0.0, 0.0, 347.28, 970.69, 96940.53, 6432.69, 20484.17, 17666.5, 26138.86, 24612.71, 287.63), (0.0, 0.0, 0.0, 551.766, 513.766, 38.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0), (0.0, 0.0, 4.0, 0.0, 0.0, 0.0, 0.0, 0.0, 4.0, 0.0, 0.0, 0.0), (0.0, 0.0, 5.0, 5.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 10.0, 0.0), (0.0, 0.0, 5.0, 30.0, 5.0, 10.0, 0.0, 5.0, 0.0, 5.0, 0.0, 0.0), (0.0, 0.0, 14.919, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 14.919), (0.0, 0.0, 15.122448979591837, 0.0, 58.38775510204081, 50.602040816326536, 97.19183673469388, 25.357142857142858, 48.295918367346935, 39.51020408163265, 0.0, 349.4265306122449), (0.0, 0.0, 26.23, 63.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 35.08, 29.76), (0.0, 0.0, 30.0, 0.0, 0.0, 0.0, 0.0, 530.0, 180.0, 80.0, 180.0, 0.0), (0.0, 0.0, 55.0, 15.0, 0.0, 0.0, 15.0, 0.0, 5.0, 0.0, 15.0, 5.0), (0.0, 0.0, 192.3295918367347, 28.96938775510204, 27.0, 27.29591836734694, 0.0, 0.0, 0.0, 0.0, 54.86020408163265, 25.73469387755102), (0.0, 0.0, 213.294, 2.5, 2.5, 2.5, 0.0, 0.0, 0.0, 0.0, 0.0, 171.81), (0.0, 0.0, 216.572, 216.572, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0), (0.0, 0.0, 382.5, 789.5, 0.0, 51.5, 105.5, 0.0, 0.0, 0.0, 97.0, 68.0), ...]

[5328 rows x 0 columns]

In [199]:
13646370.0414861+9841822.23001855+13706076.1982171+13468112.6608275+13706596.1938163+12907529.0797421+17492550.3301299+14516026.2260056+12231702.2010891+15210190.1900501+13756003.61218+11102857.3312356

# 18049652.2567273

161585836.29479793