In [1]:
import pandas as pd

In [2]:
# sheet_2 has infos about diesel oil
df = pd.read_excel('../data/vendas-combustiveis-2.xls', sheet_name='DPCache_m3_2')

In [51]:
df.isna().count()

COMBUSTÍVEL    1080
ANO            1080
REGIÃO         1080
ESTADO         1080
Jan            1080
Fev            1080
Mar            1080
Abr            1080
Mai            1080
Jun            1080
Jul            1080
Ago            1080
Set            1080
Out            1080
Nov            1080
Dez            1080
TOTAL          1080
dtype: int64

In [19]:
df.fillna(0, inplace=True)

In [20]:
df

,COMBUSTÍVEL,ANO,REGIÃO,ESTADO,Jan,Fev,Mar,Abr,Mai,Jun,Jul,Ago,Set,Out,Nov,Dez,TOTAL
0,ÓLEO DIESEL S-10 (m3),2013,REGIÃO NORTE,RONDÔNIA,81453.67,3517.600,3681.700,4700.670,5339.200,6166.4,6539.65,7283.7,8082.85,7902.550,9383.150,9767.40,9088.800
1,ÓLEO DIESEL S-10 (m3),2013,REGIÃO NORTE,ACRE,1483.00,11202.000,363.000,410.000,536.000,607.0,740.00,756.0,971.00,1174.000,1240.000,1439.00,1483.000
2,ÓLEO DIESEL S-10 (m3),2013,REGIÃO NORTE,AMAZONAS,6836.30,6784.232,61443.832,3190.585,3305.000,3391.0,3637.00,4250.0,4576.00,5756.879,6228.636,6334.00,7154.200
3,ÓLEO DIESEL S-10 (m3),2013,REGIÃO NORTE,RORAIMA,1475.30,1502.700,1531.800,13423.700,795.400,757.2,939.80,1040.6,966.00,992.900,1027.000,1083.80,1311.200
4,ÓLEO DIESEL S-10 (m3),2013,REGIÃO NORTE,PARÁ,40913.48,45383.500,44013.219,41975.030,441140.785,30137.8,28146.30,31280.5,33033.05,33519.880,34321.530,37168.16,41248.336
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1075,ÓLEO DIESEL (OUTROS ) (m3),2020,REGIÃO SUL,RIO GRANDE DO SUL,0.00,0.000,10.000,10.000,0.000,10.0,0.00,0.0,0.00,60.000,10.000,10.00,10.000
1076,ÓLEO DIESEL (OUTROS ) (m3),2020,REGIÃO CENTRO-OESTE,MATO GROSSO DO SUL,0.00,0.000,0.000,0.000,0.000,0.0,0.00,0.0,0.00,0.000,0.000,0.00,0.000
1077,ÓLEO DIESEL (OUTROS ) (m3),2020,REGIÃO CENTRO-OESTE,MATO GROSSO,45.00,0.000,0.000,0.000,0.000,0.0,0.00,0.0,0.00,0.000,0.000,90.00,45.000
1078,ÓLEO DIESEL (OUTROS ) (m3),2020,REGIÃO CENTRO-OESTE,GOIÁS,0.00,0.000,0.000,0.000,0.000,0.0,0.00,0.0,41.40,0.000,0.000,0.00,41.400
1079,ÓLEO DIESEL (OUTROS ) (m3),2020,REGIÃO CENTRO-OESTE,DISTRITO FEDERAL,0.00,0.000,0.000,0.000,0.000,0.0,0.00,0.0,0.00,0.000,0.000,0.00,0.000

In [21]:
df["COMBUSTÍVEL"].unique().tolist()

['ÓLEO DIESEL S-10 (m3)',
 'ÓLEO DIESEL S-500 (m3)',
 'ÓLEO DIESEL S-1800 (m3)',
 'ÓLEO DIESEL MARÍTIMO (m3)',
 'ÓLEO DIESEL (OUTROS ) (m3)']

In [50]:
df.pivot_table(columns='ANO')

ANO,2013,2014,2015,2016,2017,2018,2019,2020
Abr,60307.030133,51869.521304,74220.619089,42771.067719,56858.095944,76813.911867,65933.908474,74560.241556
Ago,103042.568659,46918.026037,59548.764859,55401.134222,53492.593993,73262.138059,69647.923563,44733.719874
Dez,55067.428119,75790.160533,45881.122133,56621.066363,78323.092528,65019.925896,101730.569652,37681.419178
Fev,57914.928378,61586.290807,83617.536748,60852.872963,101287.426152,47109.762215,56283.486993,35142.694481
Jan,59414.827452,79935.594993,64601.320622,47262.214711,73090.793983,44151.772859,59577.297726,51120.398185
Jul,72093.750444,47566.584585,57625.915770,78313.392593,63580.077981,101932.166615,50302.538104,43157.911193
Jun,79113.163859,65331.619778,76410.345452,61585.425015,46797.428723,76402.562756,44365.848289,45472.346822
Mai,68309.729015,64599.689526,106746.732444,44390.281296,57260.826108,57186.467815,53556.678733,56086.647652
Mar,51387.745874,62484.237052,60223.150044,53637.333881,72387.917520,65959.826067,53432.189741,60620.181474
Nov,51672.244067,63265.247726,61079.130600,72553.080911,63850.017440,48971.149496,84226.909830,32695.993556
Out,54968.282807,91070.507563,62269.542096,101563.857681,45568.366171,57510.957385,57626.552037,43004.835993
Set,96582.815689,67083.028948,49706.534993,71488.632148,43246.850766,57185.610704,77886.727889,53752.158311
TOTAL,57866.153415,111856.788763,45637.735104,57686.604541,55697.886366,52633.647511,74295.261178,49405.401415

In [39]:
# df[(df["COMBUSTÍVEL"].isin(['ÓLEO DIESEL MARÍTIMO (m3)','ÓLEO DIESEL S-10 (m3)'])) & (df['ESTADO'] == 'CEARÁ')].pivot_table(columns='ANO')
df[(df["COMBUSTÍVEL"].isin(['ÓLEO DIESEL MARÍTIMO (m3)','ÓLEO DIESEL S-10 (m3)'])) & (df['ESTADO'] == 'CEARÁ')]
# df[ (df['ESTADO'] == 'CEARÁ')].pivot_table(columns='ANO')
# df[ (df['COMBUSTÍVEL'] == 'ÓLEO DIESEL S-1800 (m3)')].pivot_table(columns='ANO',values='TOTAL')

,COMBUSTÍVEL,ANO,REGIÃO,ESTADO,Jan,Fev,Mar,Abr,Mai,Jun,Jul,Ago,Set,Out,Nov,Dez,TOTAL
9,ÓLEO DIESEL S-10 (m3),2013,REGIÃO NORDESTE,CEARÁ,47724.922000,50888.425000,47884.145000,52901.6010,51586.778,54451.938,56798.731000,55128.903,54911.445,623435.372,56758.646000,47727.500,46672.338000
90,ÓLEO DIESEL MARÍTIMO (m3),2013,REGIÃO NORDESTE,CEARÁ,400.000000,275.331000,360.000000,480.0000,720.000,765.000,488.574000,663.000,491.872,960.000,540.000000,605.000,6748.777000
144,ÓLEO DIESEL S-10 (m3),2014,REGIÃO NORDESTE,CEARÁ,61558.161000,676410.365000,53997.044000,50428.0910,49016.627,51747.934,53240.316000,51998.448,57609.226,58675.144,62464.315000,66457.566,59217.493000
225,ÓLEO DIESEL MARÍTIMO (m3),2014,REGIÃO NORDESTE,CEARÁ,895.000000,720.000000,870.000000,905.0000,8185.000,375.000,465.000000,485.000,495.000,655.000,780.000000,730.000,810.000000
279,ÓLEO DIESEL S-10 (m3),2015,REGIÃO NORDESTE,CEARÁ,61183.030000,58961.423000,60625.224000,62086.7380,57284.504,59454.294,687450.805000,59980.221,48890.011,54581.168,52404.029000,54711.723,57288.440000
360,ÓLEO DIESEL MARÍTIMO (m3),2015,REGIÃO NORDESTE,CEARÁ,1170.000000,850.000000,805.000000,935.0000,865.000,850.000,955.000000,835.000,795.000,9810.000,835.000000,440.000,475.000000
414,ÓLEO DIESEL S-10 (m3),2016,REGIÃO NORDESTE,CEARÁ,53310.252000,57682.457000,55648.199000,57131.1930,59863.138,59407.823,62624.686000,61578.650,60403.068,60883.357,62664.537000,705432.874,54235.514000
495,ÓLEO DIESEL MARÍTIMO (m3),2016,REGIÃO NORDESTE,CEARÁ,725.000000,9390.000000,420.000000,855.0000,750.000,495.000,895.000000,915.000,830.000,860.000,870.000000,865.000,910.000000
549,ÓLEO DIESEL S-10 (m3),2017,REGIÃO NORDESTE,CEARÁ,66689.679367,63902.992433,66033.109351,728756.0716,57873.685,51335.964,58495.752000,52339.219,60459.396,60445.193,60737.972000,66760.525,63682.584449
630,ÓLEO DIESEL MARÍTIMO (m3),2017,REGIÃO NORDESTE,CEARÁ,1130.000000,905.000000,795.000000,880.0000,1090.000,890.000,10295.570245,530.000,1060.000,610.000,575.570245,1030.000,800.000000
684,ÓLEO DIESEL S-10 (m3),2018,REGIÃO NORDESTE,CEARÁ,56703.650000,66088.700000,68313.600000,73171.3000,68974.268,75684.195,72027.016000,70211.192,791171.005,63951.204,55110.087000,62280.295,58655.498000
765,ÓLEO DIESEL MARÍTIMO (m3),2018,REGIÃO NORDESTE,CEARÁ,605.000000,685.000000,670.000000,865.0000,1115.000,1660.000,1590.000000,1255.000,805.000,1090.000,995.000000,11795.000,460.000000
819,ÓLEO DIESEL S-10 (m3),2019,REGIÃO NORDESTE,CEARÁ,867199.104000,66696.921000,62771.100000,60376.5720,64665.134,68227.518,65550.753000,77165.456,80347.400,75028.300,84970.750000,80814.800,80584.400000
900,ÓLEO DIESEL MARÍTIMO (m3),2019,REGIÃO NORDESTE,CEARÁ,1115.000000,1010.000000,840.000000,11370.0000,685.000,1045.000,630.000000,915.000,985.000,1110.000,900.000000,1205.000,930.000000
954,ÓLEO DIESEL S-10 (m3),2020,REGIÃO NORDESTE,CEARÁ,79601.000000,83717.288000,0.000000,0.0000,0.000,615655.129,78357.600000,70644.400,61630.896,45835.088,52900.700000,66192.280,76775.877000
1035,ÓLEO DIESEL MARÍTIMO (m3),2020,REGIÃO NORDESTE,CEARÁ,1124.000000,696.000000,1266.000000,920.0000,1126.000,0.000,0.000000,0.000,8128.000,720.000,605.000000,790.000,881.000000

In [27]:
df2 = pd.read_excel('../data/vendas-combustiveis-2.xls', sheet_name='DPCache_m3')

In [29]:
df2["COMBUSTÍVEL"].unique().tolist()

['GASOLINA C (m3)',
 'GASOLINA DE AVIAÇÃO (m3)',
 'QUEROSENE ILUMINANTE (m3)',
 'QUEROSENE DE AVIAÇÃO (m3)',
 'ÓLEO DIESEL (m3)',
 'ÓLEO COMBUSTÍVEL (m3)',
 'ETANOL HIDRATADO (m3)',
 'GLP (m3)']

In [31]:
df2[ (df2['COMBUSTÍVEL'] == 'ÓLEO DIESEL (m3)')].pivot_table(columns='ANO',values='TOTAL')

ANO,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
TOTAL,407022.164444,188517.558259,177498.816333,271234.887111,218054.299667,140849.789444,170129.283222,221968.376057,215635.075624,183777.263348,...,247468.709541,367064.189097,651031.559444,298848.384444,290095.587254,401293.303111,310972.426691,192393.967481,240149.419444,358674.07775

In [ ]:
ÓLEO DIESEL S-10 (m3)